// _tables

table {
  font-family: "Georama", sans-serif;
  border: 1px solid $table-border;
  border-collapse: collapse;
  text-align: center;
  width: 100%;

  img {
    width: 64px;
    height: 64px;
    margin: 15px;
  }

  th {
    background-color: $table-heading;
    color: $header-color;
    font-weight: bold;
  }

  tr:hover {
    background-color: $table-hover;
  }

  td, th {
    border: 1px solid $table-border;

    div {
      color: $link-blue;
      text-decoration: underline;
    }

    span.hidden {
      display: none;
    }
  }
}
